*{ margin: 0; padding: 0; font-weight: 100}
.clear {display:block;width:0px;height:0px;clear:both;margin:0px;padding:0px;font:0/0 sans-serif;}
ul,li{ list-style: none}
img{ display: block}

.top{ width: 100%; background: #3eabe7}
.top img{ width: 100%}

.center{ width: 100%; height: auto; background: #f1f1f1; overflow: auto; position: relative}
.center .leftpart{ width: 17%; height: 100%;  background: #000; position: absolute; left: 0; top: 0 }
.center .leftpart ul{ width: 100%; border-bottom: 1px solid #403f43; padding-top: 10px}
.center .leftpart ul li{ width: 100%; height: 50px;}
.center .leftpart ul li a{ width: 100%; height: 50px; text-align: center; color: #fff; line-height: 50px; display: block; text-decoration: none; position: relative}
.center .leftpart ul li a img{ height: 30px; position: absolute; top: 10px; left: 30px}
.center .leftpart ul li a:hover{ background: #3eabe7}
.center .leftpart ul li a.on{ background: #3eabe7}

.center .rightpart{ width: 83%; float: right}

.center .rightpart .toppart{ width: 100%; background: #f5f5f5; border-bottom: 1px solid #dedede}
.center .rightpart .toppart p{ line-height: 50px; text-indent: 20px; font-size: 14px}
.center .rightpart .toppart p span{ float: right; margin-right: 20px;}

.center .rightpart .contentpart{ padding: 15px;}
.center .rightpart .contentpart .title{ text-indent: 20px; line-height: 40px; border-top: 2px solid #3eabe7; background: #fff}
.center .rightpart .contentpart .searchbox{ background: #f9f9f9}
.center .rightpart .contentpart .searchbox ul{ height: 50px; width: 100%}
.center .rightpart .contentpart .searchbox ul li{ float: left; margin-left: 20px; padding: 15px 0; font-size: 12px;}
.center .rightpart .contentpart .searchbox ul li a{ padding: 0 10px; display: block; font-size: 12px; text-decoration: none; height: 18px; line-height: 18px; border: 1px solid #3eabe7}
.center .rightpart .contentpart .searchbox ul li a.refresh { border: 1px solid #3eabe7; color: #fff; background: #3eabe7}
.center .rightpart .contentpart .searchbox ul li .txtbox{ width: 40px; height: 18px; border: 1px solid #dedede; text-align: center}
.center .rightpart .contentpart .searchbox ul li .submit{ padding: 0 10px; height: 20px; border: none; background: #3eabe7; color: #fff; cursor: pointer}

.center .rightpart .contentpart .contentbox{ width: 100%; padding: 50px 0; background: #fff; border-top: 1px solid #dedede}
.center .rightpart .contentpart .contentbox .input1{ width: 60%; display: block; margin: auto; height: 40px; margin-top: 15px; text-indent: 10px}

.center .rightpart .contentpart .contentbox .pagebox{ width: 90%; padding: 30px 5%; }
.center .rightpart .contentpart .contentbox .pagebox ul{ width: auto; float: right}
.center .rightpart .contentpart .contentbox .pagebox ul li{ width: auto; float: left; padding: 0 10px; font-size: 12px; line-height: 25px;}
.center .rightpart .contentpart .contentbox .pagebox ul li span{ color: #3eabe7}
.center .rightpart .contentpart .contentbox .pagebox ul li a{ border: 1px solid #3eabe7; height: 23px; padding: 0 5px; display: block; font-size: 12px; line-height: 23px; text-decoration: none}
.center .rightpart .contentpart .contentbox .pagebox ul li a.on{ background: #3eabe7; color: #fff;}

#ruleBox{ position: relative}
#ruleBox div{ position: relative}
#ruleBox div a{position: absolute; height: 40px; width: 40px; display: block; background: url("../image/admin/minus.png") center center no-repeat; right: 20%; z-index: 99; top: 1px}

.bottom{ width: 100%; height: 45px; background: #5e5e5e}
.bottom p{ text-align: center; color: #fff; line-height: 45px; font-size: 14px;}