*{ margin: 0; padding: 0}
.clear {display:block;width:0px;height:0px;clear:both;margin:0px;padding:0px;font:0/0 sans-serif;}
ul,li{ list-style: none}
img{ display: block}

.bg{ width: 100%}
.bg img{ width: 100%;}