*{ margin: 0; padding: 0}
.clear {display:block;width:0px;height:0px;clear:both;margin:0px;padding:0px;font:0/0 sans-serif;}
ul,li{ list-style: none}
img{ display: block}

.bg{ width: 100%; position: relative}
.bg .bgimg{ width: 100%;}

.bg .container{ width: 100%; height: 100%; position: absolute; top: 0; left: 0}
.bg .container .titlebox{ width: 80%; position: absolute; top: 2%; left: 10%}
.bg .container .titlebox img{ width: 100%}