<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="../public/css/index.css"/>
    <script src="../public/js/jquery-1.11.2.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <title>喂养宠物</title>
    <script>
        wx.config({
            debug: false,
            appId: '<{$signPackage.appId}>',
            timestamp: <{$signPackage.timestamp}>,
            nonceStr: '<{$signPackage.nonceStr}>',
            signature: '<{$signPackage.signature}>',
            jsApiList: ['checkJsApi',
            'onMenuShareAppMessage',
            'onMenuShareTimeline']
        });
        wx.ready(function () {
            // 在这里调用 API
            wx.onMenuShareAppMessage({
                title: "帮我养宠物啦",
                desc: "帮我养宠物啦",
                link: "",
                imgUrl: 'http://www.ropaid.com/weixin/zhuli/public/image/ver2/smallimg.jpg',
                type: 'link',
                dataUrl: '',
                success: function () {
                    //分享成功后的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareTimeline({
                title: '帮我养宠物啦', // 分享标题
                link: '', // 分享链接
                imgUrl: 'http://www.ropaid.com/weixin/zhuli/public/image/ver2/smallimg.jpg', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        });

    </script>
</head>
<body>
    <p>这里是喂养宠物页面</p>
    <p>宠物信息:</p>
    <p>宠物名:<{$pat->patName}></p>
    <p>宠物等级:<{$pat->patLevel}></p>
    <p>宠物积分:<{$pat->patScore}></p>
    <{if $attentionStatue}>
        <a href="javascript:void(0)">喂养</a>
    <{else}>
        <a href="<{$smarty.const.ATTENTION_PAGE}>">喂养</a>
    <{/if}>
</body>
</html>