<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="../public/css/index.css"/>
    <script src="../public/js/jquery-1.11.2.js"></script>
    <script src="../public/js/game.js"></script>
    <title>个人中心</title>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
    <h1 class="userinfo-top">个人中心</h1>
    <div class="info-img-box">
        <img src="../public/image/userinfo-pat-img.gif" />
        <div class="clear"></div>
        <div class="info-box">
            <ul>
                <li>等级: Lv3</li>
                <li>积分: 30</li>
                <li>关注量: 30</li>
            </ul>
        </div>
    </div>
    <ul class="info-list">
        <li class="info">
            <div class="title-box" onclick="showInfo(this)">
                <img src="../public/image/distributors.png" />
                我的分销商
            </div>
            <ul class="details-list">
                <li>一级分销商: <span>8个</span></li>
                <li>二级分销商: <span>8个</span></li>
                <li>三级分销商: <span>8个</span></li>
            </ul>
        </li>
        <li class="info">
            <div class="title-box" onclick="showInfo(this)">
                <img src="../public/image/money.png" />
                我的提现
            </div>
            <ul class="details-list">
                <li>已提现金额: <span>30</span></li>
                <li>可提现金额: <span>30</span></li>
            </ul>
        </li>
    </ul>
</body>
</html>