<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宠物管理</title>
    <link rel="stylesheet" type="text/css" href="../public/css/admin.css"/>
    <script type="text/javascript" src="../public/js/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="../public/js/admin.js"></script>
</head>
<body>
    <div class="top">
        <img src="../public/image/admin/top.jpg"/>
    </div>
    <div class="clear"></div>
    <div class="center">
        <div class="leftpart">
            <ul>
                <li><a href=""><img src="../public/image/admin/panda.png" />宠物管理</a></li>
                <li><a href=""><img src="../public/image/admin/people.png" />会员管理</a></li>
                <li><a href=""><img src="../public/image/admin/integral.png" />积分系统</a></li>
                <li><a href=""><img src="../public/image/admin/exit.png" />退出系统</a></li>
            </ul>
        </div>
        <div class="rightpart">
            <div class="toppart">
                <p>您当前的位置:宠物管理<span>2015年09月14日</span></p>
            </div>
            <div class="contentpart">
                <p class="title">宠物管理</p>

                <div class="contentbox">
                    <p style="width: 60%; margin: auto; font-size: 12px; line-height: 25px; padding-top: 15px">标题:</p>
                    <input type="text" value="萌宠" class="input1" disabled/>
                    <p style="width: 60%; margin: auto; font-size: 12px; line-height: 25px; padding-top: 15px">规则:</p>
                    <div id="ruleBox">
                        <div>
                            <input type="text" value="萌宠" class="input1" name="rule[]" />
                            <a href="javascript:void(0)" onclick="removeRule(this)"></a>
                        </div>
                        <div>
                            <input type="text" value="萌宠" class="input1" name="rule[]" />
                            <a href="javascript:void(0)" onclick="removeRule(this)"></a>
                        </div>
                        <div>
                            <input type="text" value="萌宠" class="input1" name="rule[]" />
                            <a href="javascript:void(0)" onclick="removeRule(this)"></a>
                        </div>
                    </div>
                    <button onclick="addRule()" style="width: 60%; display: block; margin: auto; height: 40px; margin-top: 15px; background: transparent; border: 1px solid #dedede;"><img src="../public/image/admin/add.png" style="margin: auto" /></button>
                    <input type="submit" value="确认修改" style="width: 40%; display: block; height: 40px; color: #fff; background: #3eabe7; border: none; margin: auto; margin-top: 35px; margin-bottom: 31px"/>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="bottom">
        <p>衢州市罗盘信息科技 版权所有</p>
    </div>
</body>
</html>