<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宠物管理</title>
    <link rel="stylesheet" href="../public/css/admin.css"/>
</head>
<body>
    <div class="top">
        <img src="../public/image/admin/top.jpg"/>
    </div>
    <div class="clear"></div>
    <div class="center">
        <div class="leftpart"></div>
        <div class="rightpart">
            <div class="toppart">
                <p>您当前的位置:积分系统<span>2015年09月14日</span></p>
            </div>
            <div class="contentpart">
                <p class="title">积分系统</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="bottom">
        <p>衢州市罗盘信息科技 版权所有</p>
    </div>
</body>
</html>