<{include file="top.html"}>
    <input type="hidden" id="pagetag" value="patManage"/>
    <div class="center">
        <{include file="left.html"}>
        <div class="rightpart">
            <div class="toppart">
                <p>您当前的位置:宠物管理<span>2015年09月14日</span></p>
            </div>
            <div class="contentpart">
                <p class="title">宠物管理</p>

                <div class="contentbox">
                    <p style="width: 60%; margin: auto; font-size: 12px; line-height: 25px; padding-top: 15px">标题:</p>
                    <input type="text" value="萌宠" class="input1" disabled/>
                    <p style="width: 60%; margin: auto; font-size: 12px; line-height: 25px; padding-top: 15px">规则:</p>
                    <form action="index.php" method="post">
                    <div id="ruleBox">
                        <{foreach from=$rule item=row}>
                            <div>
                                <input type="text" value="<{$row}>" class="input1" name="rule[]" />
                                <a href="javascript:void(0)" onclick="removeRule(this)"></a>
                            </div>
                        <{/foreach}>
                    </div>
                    <a href="javascript:void(0)" onclick="addRule()" style="width: 60%; display: block; margin: auto; height: 30px; margin-top: 15px; padding-top: 10px; background: transparent; border: 1px solid #dedede; vertical-align: middle"><img src="../public/image/admin/add.png" style="margin: auto" /></a>
                    <input type="submit" value="确认修改" name="submit" style="width: 40%; display: block; height: 40px; color: #fff; background: #3eabe7; border: none; margin: auto; margin-top: 35px; margin-bottom: 31px"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
<{include file="bottom.html"}>