<{include file="top.html"}>
<input type="hidden" id="pagetag" value="userManage"/>
<div class="center">
    <{include file="left.html"}>
    <div class="rightpart">
        <div class="toppart">
            <p>您当前的位置:积分系统<span>2015年09月14日</span></p>
        </div>
        <div class="contentpart">
            <p class="title">积分系统</p>
            <div class="contentbox">
                <table style="width: 50%; margin: auto; background: #eeeeee;  text-align: center; line-height: 40px;">
                    <tr>
                        <td style="background: #fff; width: 50%;">openid</td>
                        <td style="background: #fff; width: 50%;">xxxxxxxxxxxxxxxxxxxx</td>
                    </tr>
                    <tr>
                        <td style="background: #fff; width: 50%;">昵称</td>
                        <td style="background: #fff; width: 50%;">XXXXX</td>
                    </tr>
                    <tr>
                        <td style="background: #fff; width: 50%;">等级</td>
                        <td style="background: #fff; width: 50%;">30</td>
                    </tr>
                    <tr>
                        <td style="background: #fff; width: 50%;">积分</td>
                        <td style="background: #fff; width: 50%;">30</td>
                    </tr>
                    <tr>
                        <td style="background: #fff; width: 50%;">关注量</td>
                        <td style="background: #fff; width: 50%;">2000</td>
                    </tr>
                    <tr>
                        <td style="background: #fff; width: 50%;" rowspan="3">分销商</td>
                        <td style="background: #fff; width: 50%;">一级分销商<span style="padding:0 10px">8</span>个</td>
                    </tr>
                    <tr>
                        <td style="background: #fff; width: 50%;">二级分销商<span style="padding:0 10px">8</span>个</td>
                    </tr>
                    <tr>
                        <td style="background: #fff; width: 50%;">三级分销商<span style="padding:0 10px">8</span>个</td>
                    </tr>
                    <tr>
                        <td style="background: #fff; width: 50%;" rowspan="2">提现</td>
                        <td style="background: #fff; width: 50%;">已提现金额<span style="padding:0 10px">20</span>元</td>
                    </tr>
                    <tr>
                        <td style="background: #fff; width: 50%;">可提现金额<span style="padding:0 10px">20</span>元</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<{include file="bottom.html"}>